{% extends 'base.html' %}

{% block content %}
<div class="container p-1 py-2">
	<div class="">
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title modal-picker-title" id="exampleModalLabel">Bible Text</h5>
						<button type="button" class="btn btn-close" data-bs-dismiss="modal"
							aria-label="Close">
						</button>
					</div>
					<div class="modal-body modal-picker-body">
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3>Update Questions</h3>
	<form action="no" method="get" accept-charset="utf-8">
		<div class="wrap mb-2">
			<label class="form-label fw-bold" for="row">row</label>
			<input class="form-control" type="number" name="row" id="row" value="" required />
		</div>
		<div class="wrap mb-2">
			<label class="form-label fw-bold" for="text">Text</label>
			<textarea class="form-control" name="text" id="text" cols="30"></textarea>
		</div>
		<div class="wrap mb-2">
			<label class="form-label fw-bold" for="answer">Answer</label>
			<select class="form-control" name="answer" id="answer">
			</select>
		</div>
		<div class="wrap mb-2">
			<label class="form-label fw-bold" for="options">Options</label>
			<input class="form-control" type="text" name="options" id="options" value="" />
		</div>
		<div class="wrap mb-2">
			<label class="form-label fw-bold" for="quote">Quote</label>
			<div class="d-flex gap-1">
				<input class="form-control" type="text" name="quote" id="quote" value="" />
				<a class="btn btn-primary picker" href="#">Pick</a>
			</div>
		</div>
		<div class="wrap">
			<a href="#">Quote Details</a>
		</div>
	</form>
	<div class="buttons py-2 mt-3">
		<button class="btn btn-primary" id="fetch">Get</button>
		<button class="btn btn-primary" id="update">Update</button>
	</div>

</div>
{% endblock %}
